<!DOCTYPE html>
<html>
<head>
    <title>Permitted Files</title>
</head>
<body>
    <h1>Permitted Files</h1>
    <table>
        <thead>
            <tr>
                <th>File Name</th>
                <th>Preview</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ file.file }}</td>
                <td>
                    <embed src="{{ file.file }}" type="application/pdf" width="600" height="400" />
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
